<div class="app-wrapper">
  <canvas #rendererCanvas></canvas>

  <!-- Floating + Button -->
  <button class="add-node-button" (click)="onAddNode()">+</button>

  <div #contextMenu class="context-menu">
    <h4 id="contextNodeName"></h4>
    <div class="context-actions">
      <button (click)="onSetAsSun()" style="margin: 0 8px 0 0px">
        Set as Central
      </button>
      <button
        (click)="onHideNode()"
        [disabled]="selectedNode?.isSun"
        [ngClass]="{ 'disabled-button': selectedNode?.isSun }"
      >
        Remove
      </button>
    </div>

    <!-- Dynamic Panel: Preferences for Central or Attributes for Non-Central -->
    <div *ngIf="selectedNode">
      <!-- Preferences Panel for Central Node -->
      <div *ngIf="selectedNode.isSun" class="panel">
        <div
          *ngFor="let pref of selectedNode.preferences; let i = index; trackBy: trackByIndex"
          class="attribute-list"
        >
          <label>
            Preference {{ i + 1 }}:
            <input
              type="range"
              min="0"
              max="100"
              [(ngModel)]="selectedNode.preferences[i]"
              (ngModelChange)="onPreferenceChange(i, $event)"
            />
            <span>{{ selectedNode.preferences[i] }}</span>
          </label>
        </div>
      </div>

      <!-- Attributes Panel for Non-Central Nodes -->
      <div *ngIf="!selectedNode.isSun" class="panel">
        <div
          *ngFor="let attr of selectedNode.attributes; let i = index; trackBy: trackByIndex"
          class="attribute-list"
        >
          <label>
            Attribute {{ i + 1 }}:
            <input
              type="range"
              min="0"
              max="100"
              [(ngModel)]="selectedNode.attributes[i]"
              (ngModelChange)="onAttributeChange(i, $event)"
            />
            <span>{{ selectedNode.attributes[i] }}</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
